version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - prometheus-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - prometheus-network

  node_exporter:
    image: prom/node-exporter
    container_name: node_exporter
    ports:
      - "9100:9100"
    networks:
      - prometheus-network

  custom_mysql_exporter:
    container_name: custom_mysql_exporter
    image: python:3.9
    working_dir: /app
    volumes:
      - ./custom_exporter:/app
    command: ["python", "custom_exporter.py"]
    ports:
      - "9105:9105"
    networks:
      - prometheus-network

networks:
  prometheus-network:
    driver: bridge
